@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
main{
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
}
.galery{width: 30%;
}